.code-preview-layout {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: #fff;
}

.code-preview-layout.code-preview-layout-body-false {
  border: none;
}
.code-preview-layout .preview {
  padding: 16px;
}

.code-preview-layout .preview-body-false {
  padding-left: 0px;
}

.code-preview-layout .preview-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px 0px;
}
.code-preview-layout .preview-button .preview-button-left {
  margin-left: 16px;
}
.code-preview-layout .preview-button .preview-button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
}

.code-preview-layout .preview-button .preview-button-span {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 3px;
}
.code-preview-layout .preview-button .preview-button-span:not(:last-child) {
  margin-right: 5px;
}

.code-preview-layout .preview-button .preview-button-span:hover,
.code-preview-layout .preview-code .preview-button-copy:hover,
.code-preview-layout .preview-button .preview-button-ccs button:hover {
  opacity: 1;
}

.code-preview-layout .preview-button .preview-code-exand-unexpand-icon-true,
.code-preview-layout .preview-code .preview-button-copy > .copy,
.code-preview-layout .preview-code:hover .preview-button-copy-active > .check,
.code-preview-layout .preview-code:hover .preview-button-copy {
  display: inline-block;
}

.code-preview-layout .preview-button .preview-code-exand-unexpand-icon-false,
.code-preview-layout .preview-code.preview-code-false,
.code-preview-layout .preview-code .preview-button-copy > .check,
.code-preview-layout .preview-code .preview-button-copy-active > .copy {
  display: none;
}

.code-preview-layout .preview-code {
  background-color: #f6f8fa;
  font-size: 14px;
  position: relative;
}

.code-preview-layout .preview-code .preview-button-copy {
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 6px;
  display: none;
  opacity: 0.5;
}

.code-preview-layout .preview-code > pre {
  margin: 0;
}

.code-preview-layout .preview-button .preview-button-ccs button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  opacity: 0.5;
  padding-left: 0;
  padding-right: 0;
}
